.Button {
  margin-top: 30px;
  background: #5663ff;
  width: 100%;
  color: white;
  padding: 16px 0;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.Button:active {
  background: #878cce;
  transform: translate(1px, 1px);
}
