.form-section {
  max-width: 550px;
  margin: 3vh auto 0;
  padding: 0 20px;
  max-height: 75vh;
}

.form-section .header {
  text-align: center;
}

.form .title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(16, 35, 82, 0.02) 0 7px 50px 20px;
}

.form .message {
  display: flex;
  flex-direction: row;
  background-color: #f1f2ff;
  padding: 15px;
  width: 94%;
  border-radius: 10px;
  color: #5663ff;
  font-size: 14px;
  font-weight: 500;
}

.form-group .custom-upload {
  border: 1px solid #5663ff;
  color: #5663ff;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 22px;
  cursor: pointer;
  margin-bottom: 20px;
}

.form-group select {
  display: block;
  font-size: 14px;
  line-height: 1.3;
  padding: 12px 12px;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  border-radius: 4px;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #eff1f6;
  /* background-image: url("/media/arrow.svg"); */
  background-repeat: no-repeat, repeat;
  background-position: right 18px top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.form-group .input {
  margin: 8px 0 12px;
  width: 100%;
  border-radius: 4px;
  display: block;
  border: none;
  font-size: 14px;
  background: #eff1f6;
  padding: 12px 12px;
}

.form-group .text-area {
  display: block;
  font-size: 14px;
  width: 100%;
  background: #eff1f6;
  border: none;
  border-radius: 4px;
  line-height: 1.3;
  resize: none;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
}

.form-group .label {
  font-weight: 600;
}

.form-group .input[type="file"] {
  display: none;
}

.form-group .custom-upload {
  border: 1px solid #5663ff;
  color: #5663ff;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 22px;
  cursor: pointer;
  margin-bottom: 20px;
}

.form button {
  margin-top: 30px;
  background: #5663ff;
  width: 100%;
  color: white;
  padding: 16px 0;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.form-section-bottom {
  text-align: center;
}
